{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "title": "<<<SKILL_NAME>>> Inputs",
  "description": "<<<SKILL_DESCRIPTION>>>",
  "type": "object",
  "required": [],
  "properties": {
  }
}
